.landing{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;

    img{
      object-fit: cover;
    }
    
    .sliderContainer{
      position: absolute;
      top: calc(100vh - 260px);
    }
    
    .slider{
      position: relative;
      white-space: nowrap;
    }
    
    .slider p{
      position: relative;
      margin: 0px;
      color: white;
      font-size: 230px;
      font-weight: 450;
      padding-right: 50px;
      line-height: 1;
      font-size: max(9em , 15vw);
      letter-spacing: 1px;
    }
    
    .slider p:nth-of-type(2){
      position: absolute;
      left: 100%;
      top: 0;
    }
  
    .description{
      position: absolute;
      top: 50%;
      left: 62%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      p{
        margin: 0px;
        margin-bottom: 10px;
        
      }
      svg{
        transform: scale(2);
        margin-bottom: 25px;
      }
      
    }
    @media (max-width: 500px) {
      .description{
        top: calc(100vh - 25%);
        left: 4%;
      }
      .description svg{
        top: 50%;
        margin-bottom: 28px;
      }
      .sliderContainer{
        top: calc(100vh - 350px);

      }
      
    }
  }
  
