.contact{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141516;
    position: relative;
    .body{
        padding-top: 200px;
        width: 100%;
        max-width: 1800px;
        background-color: #141516;

        .title{
            border-bottom: 1px solid rgb(134, 134, 134);
            padding-bottom: 70px;
            margin-left: 200px;
            margin-right: 200px;
            position: relative;
            @media (max-width: 500px) {
                margin-left: 20px;
                margin-right: 20px;
                
            }
            span{
                display: flex;
                align-items: center;
                .imageContainer{
                    width: 80px;
                    height: 80px;
                    position: relative;
                    border-radius: 50%;
                    overflow: hidden;
                    @media (max-width: 500px) {
                        width: 50px;
                        height: 50px;
                        
                    }

                    img{
                        object-fit: cover;
                    }
                }
                h2{
                    margin-left: 0.3em;
                }
            }
            h2{
                font-size: 5vw;
                margin: 0px;
                font-weight: 300;
                @media (max-width: 500px) {
                    font-size: 10vw;
                    font-weight: 350;
                    
                }
            }
            .buttonContainer{
                position: absolute;
                left: calc(100% - 400px); 
                top: calc(100% - 90px);
                @media (max-width: 500px) {
                    left: calc(100% - 310px); 
                    
                }
            }
            .button{
                width: 180px;
                height: 180px;
                background-color: #455CE9;
                color: white;
                border-radius: 50%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                @media (max-width: 500px) {
                   width: 150px;
                   height: 150px;
                    
                }
                p{
                    margin: 0px;
                    font-size: 16px;
                    font-weight: 300;
                    z-index: 2;
                    position: relative;
                }
            }
            svg{
                position: absolute;
                top: 30%;
                left: 100%;
                @media (max-width: 500px) {
                    left: 90%;
                    
                }
            }
        }
        .nav{
            display: flex;
          
            gap: 65px;
            margin-top: 120px;
            margin-left: 200px;
            margin-right: 200px;
            @media (max-width: 500px) {
                margin-left: 20px;
                margin-right: 20px;
                flex-direction: column;
                
            }
         
        }
        .info{
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 30px;
            
            @media (max-width: 500px) {
                flex-direction: column-reverse;
                padding: 25px;
                margin-top: 85px ;
               
                
            }
            div{
                display: flex;
                gap: 50px;
                align-items: flex-end;
                &:nth-of-type(1){
                    @media (max-width: 500px) {
                       gap: 33%;
                       font-size: 15px;
                        
                    }
                }
                &:nth-of-type(2){
                    gap: 10px;
                    @media (max-width: 500px) {
                       margin-bottom: 50px;
                       font-size: 15px;
                        
                    }
                }
    
               
                p, h3{
                    margin: 0px;
                    padding: 2.5px;
                    cursor: pointer;
                    
                }
                p{
                    text-align: center;
                    &::after{
                        content: "";
                        width: 0%;
                        height: 1px;
                        background-color: white;
                        display: block;
                        margin-top: 3px;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width 0.2s linear;
                    }
                    &:hover{
                        &::after{
                            width: 80%;
                        }
                    }
                }
                span{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                h3{
                    color: grey;
                    cursor: default;
                    font-weight: 300;
                    font-size: 1em;
                }
            }
            
        }
    }
    
}